<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li>
            <a href="/">Ana Sayfa</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="https://play.google.com/store/apps/details?id=co.hakanu.jobfinder&hl=tr" target="_blank">Android Uygulaması</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="http://blog.isimibul.co">Blog</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/login">Kaydol/Oturum aç</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=İstanbul">İstanbul iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Ankara">Ankara iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=İzmir">İzmir iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Konya">Konya iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Antalya">Antalya iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Adana">Adana iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Trabzon">Trabzon iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a class="page-scroll" target="_blank" href="/search?q=Eskişehir">Eskişehir iş ilanları</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
        </ul>
        
        <div class="fb-like" data-href="https://www.facebook.com/%C4%B0%C5%9Fimi-Bul-%C4%B0%C5%9F-Arama-Motoru-823801480971476/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        <div>
          <a href="https://twitter.com/isimibul" class="twitter-follow-button" data-show-count="false">Follow @isimibul</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

        <p class="copyright text-muted small">Copyright &copy; isimibul.co Tüm hakkı saklıdır</p>
        <h5 class="copyright text-muted small">Sorumluluk Reddi:</h5>
        <p id="disclaimer" class="copyright text-muted small">Bu sitedeki ilanlar diğer sitelerden indekslenmiştir. İlanlar hiç bir şekilde sitemize ait değildir. Sadece insanlığa minik bir değer yaratma gailesi içindeyiz. Saygılar</p>
      </div>
    </div>
  </div>
</footer>
