<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline">
          <li>
            <a href="/">Ana Sayfa</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
        </ul>
        <p class="copyright text-muted small">Copyright &copy; isimibul.co Tüm hakkı saklıdır</p>
        <h5 class="copyright text-muted small">Sorumluluk Reddi:</h5>
        <p id="disclaimer" class="copyright text-muted small">Bu sitedeki ilanlar diğer sitelerden indekslenmiştir. İlanlar hiç bir şekilde sitemize ait değildir. Sadece insanlığa minik bir değer yaratma gailesi içindeyiz. Saygılar</p>
      </div>
    </div>
  </div>
</footer>
