<head>

  <meta charset="utf-8">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="msvalidate.01" content="C317DA76EB5C2FFCE043F9A5C534F058" />
  <meta name='yandex-verification' content='67992f12a782e873' />
  <meta name="alexaVerifyID" content="N0_EW3ydKgAk0Fet-rVmyrBMVDU"/>

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/logo.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/logo.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/img/logo.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/img/logo.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo.png">
  <link rel="manifest" href="/static/img/icon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/img/logo.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap Core CSS -->
  <!-- <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ "/static/css/bootswatch.min.css" | prepend: site.baseurl }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/static/css/styles.css" | prepend: site.baseurl }}">

  <!-- Custom Fonts -->
  <!-- <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- <link rel="shortcut icon" href="{{ "/static/img/favicon.ico" | prepend: site.baseurl }}"> -->
  <link rel="shortcut icon" href="{{ "/static/img/logo.png" | prepend: site.baseurl }}">

   <!-- Social Media meta tags. -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@isimibul">
  <meta name="twitter:creator" content="@isimibul">

  <!-- Fb stuff -->
  <meta property="fb:admins" content="hakanu" />
  <!-- TODO(hakanu): Add fb app id -->
  <meta property="fb:app_id" content="" />
  
  <!-- Misc. -->
  <meta property="og:site_name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />


  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}/static/img/logo.png">
  <meta property="og:type" content="article" />

</head>