<!-- Beast. -->
<script src={{ "/static/js/jquery-3.2.0.min.js" | prepend: site.baseurl }}></script>

<!-- Plugin JavaScript -->
<!-- <script src={{ "/static/js/jquery.easing.min.js" | prepend: site.baseurl }}></script> -->
<script src={{ "/static/js/tether.min.js" | prepend: site.baseurl }}></script>
<script src={{ "/static/js/bootstrap.min.js" | prepend: site.baseurl }}></script>

<!-- Firebase stuff. -->
<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAQX2WT7n7ilbBkPtzBpUcMOAlYrS8gVaI",
    authDomain: "isimibul-4ac81.firebaseapp.com",
    databaseURL: "https://isimibul-4ac81.firebaseio.com",
    storageBucket: "isimibul-4ac81.appspot.com",
    messagingSenderId: "645033348669"
  };
  firebase.initializeApp(config);
</script>

<!-- Custom Theme JavaScript -->
<script src={{ "/static/js/custom.js" | prepend: site.baseurl }}></script>

<!-- GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49479116-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Twitter follow button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<!-- Facebook js sdk -->
<!-- <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> -->

<script src="https://apis.google.com/js/platform.js" async defer>
  {lang: 'tr'}
</script>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: tr_TR</script>
<script id="dsq-count-scr" src="//isimibul.disqus.com/count.js" async></script>
