<div class="container">

  <div class="form-signin">
    <h2 class="form-signin-heading">Oturum Aç</h2>
    
    <label for="input-email" class="sr-only">Email</label>
    <input type="email" id="input-email" class="form-control" placeholder="Email adresin" required autofocus>
    
    <label for="input-password" class="sr-only">Parola</label>
    <input type="password" id="input-password" class="form-control" placeholder="Parola" required>
    
    <button id="btn-login" class="btn btn-lg btn-primary btn-block" type="submit">Oturum Aç</button>
  </div>

  <br><br>

  <div class="form-signin">
    <h2 class="form-signin-heading">Kaydol</h2>
    
    <label for="input-signup-email" class="sr-only">Email</label>
    <input type="email" id="input-signup-email" class="form-control" placeholder="Email adresin" required autofocus>

    <label for="input-signup-password" class="sr-only">Parola</label>
    <input type="password" id="input-signup-password" class="form-control" placeholder="Parolan" required>

    <label for="input-signup-name" class="sr-only">Ad Soyad</label>
    <input type="name" id="input-signup-name" class="form-control" placeholder="Ad Soyad" required autofocus>

    <label for="input-signup-background" class="sr-only">İş alanlarınız</label>
    <input type="name" id="input-signup-background" class="form-control" placeholder="Turizm, mühendislik, yazılım, kasiyerlik vs" autofocus>

    <label for="input-signup-uni" class="sr-only">Mezun olduğunuz üniversite (varsa)</label>
    <input type="name" id="input-signup-uni" class="form-control" placeholder="Pamukkale Üniversitesi" autofocus>

    <label for="input-signup-uni-dept" class="sr-only">Mezun olduğunuz üniversite bölümü (varsa)</label>
    <input type="name" id="input-signup-uni-dept" class="form-control" placeholder="Uluslararası ilişkiler" autofocus>
    
    <button id="btn-signup" class="btn btn-lg btn-primary btn-block" type="submit">Kaydol</button>
  </div>

</div> <!-- /container -->