<div class="row text-center">
  <div class="col-md-12 text-center">
    <div class="input-group input-group-lg">
      <!-- <form id="form-search"> -->
      <form method="GET" action="/search">
        <input id="input-query" type="text" class="form-control" placeholder="İş arama terimini yazmaya başla" name="q">
        <!-- <button type="submit" id="btn-search" class="btn btn-lg btn-primary btn-default navbar-btn">İşimi Bul</button> -->
        <button type="submit" class="btn btn-lg btn-primary btn-default navbar-btn">İşimi Bul</button>
      </form>
    </div>
  </div>
</div>
